.pageContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 50;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

button {
  width: 70%;
}
