form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  gap: 10%;
  height: 50vh;
}

input,
button {
  height: 50px;
}

.pageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
