* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
} /* Globally */

/* Each state */

a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:focus {
  text-decoration: none;
  color: black;
}
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
