@font-face {
  font-family: "Monarcha";
  src: url("https://use.typekit.net/zhb5zth.css");
}

@font-face {
  font-family: "Karrik";
  src: url("./assets/fonts/Karrik-Regular.woff");
}

* {
  font-family: "Monarcha";
}
