@import "../../base.module.scss";

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  margin-top: 70px;
  overflow: hidden;
}

p {
  font-size: 2rem;
}

span {
  font-size: 2rem;
}
h1 {
  margin-bottom: 5%;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1%;
  border: 1px solid black;
  width: 100vw;
  overflow-y: scroll;
  height: 100%;
}

.line {
  height: 1px;
  background-color: black;
  width: 100%;
}

.new {
  & > p {
    padding-top: 10%;
  }
  background-color: yellow;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
